.heading {
  background: url(background.jpg);
  background-size: cover;
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: 40px 100px;
}

body {
  font-family: "PT Mono", monospace;
}
.button {
  background-color: #c2540b;
  text-decoration: none;
  border: 1px solid #ff9939;
  border-radius: 12px;
  padding: 20px;
  color: white;
}
.learn-more {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.title {
  color: rgb(122, 58, 15);
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;
}

.subtitle {
  color: #c2540b;
  text-align: center;
}

.intro {
  color: rgb(122, 58, 15);
}
.fad {
  padding: 40px 100px;
}
.fact {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.answer {
  font-size: 20px;
  margin-bottom: 20px;
}
.video {
  color: white;
  background: #a09765;
  text-align: center;
  padding: 40px 100px;
}

.quote {
  text-align: center;
  font-size: 25px;
  padding: 40px 100px;
}
.author {
  text-align: center;
  font-size: 20px;
  padding: 40px 100px;
}
